.container {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    row-gap: 1;

}

.header {
    display: flex;
    justify-content: flex-start;
    column-gap: 1;
}

/* .header .link {
    display: flex;
    justify-content: flex-end;


} */

.header a {
    text-decoration-line: none;
    font-size: 18px;
    color: #E5E7EB;
}

.logo img {
    width: 70px;
    height: 30px;
}

.info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info h1 {
    font-size: 48px;
    color: #F9FAF8;
}

.info p {
    color: #E5E7EB;
    font-size: 18px;
}

.info-image img {
    border-radius: 8px;
    width: 350px;
}